
<!DOCTYPE html>

<html lang="en">
  <h1>Do you like cool and interesting things?</h1>
  <h2>Here's a button that does nothing!</h2>
  
  <button type = "button">Click here to waste time!</button>


  <h3>Type some text and watch it display in this box!</h3>
<input type = "text" placeholder="Not Witchcraft!!!">
<br>
<br>
<h3>... And here's Yurik Ersuf!</h3>

<img src="assets/Yurik_Ersuf.jpg" alt="Lee">

  <div class="otherSites">
    <h4>Vastly Superior Angular Sites you might enjoy!</h4>
    <ul>
        <li>
            <a href="https://www.lego.com/en-us" target="_blank">LEGO</a>
        </li>
        <li>
            <a href="https://www.netflix.com/browse" target="_blank">NETFLIX</a>
        </li>
        <li>
            <a href="https://weather.com/" target="_blank">WEATHER.COM</a>
        </li>
    </ul>
    </div>

